# Java specific
**/target/
**/.idea/

# Angular specific
**/.angular/

# Node modules and dependency files
**/node_modules/
**/package-lock.json
**/yarn.lock

# Environment files
**/.env

# Angular CLI and build artefacts
**/.angular-cli.json
**/.ng/

# TypeScript cache
*.tsbuildinfo
